@model PagedList.Core.IPagedList<PRN_ProjectBlogs.Models.Category>
@using PagedList.Core.Mvc
@{
    ViewData["Title"] = "QUẢN LÝ DANH MỤC";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Categories" asp-action="Index">QUẢN LÝ DANH MỤC</a></li>
        <li class="breadcrumb-item active" asp-area="Admin" asp-controller="Categories" asp-action="Create" aria-current="page">QUẢN LÝ DANH MỤC</li>
    </ol>
    <h6 class="slim-pagetitle">QUẢN LÝ DANH MỤC</h6>
</div><!-- slim-pageheader -->
<a asp-area="Admin" asp-controller="Categories" asp-action="Create">TẠO MỚI</a>
<div class="section-wrapper">


    <div class="table-responsive">
        <table class="table mg-b-0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DANH MỤC</th>
                    <th>TRẠNG THÁI</th>
                    
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                <tr>
                    <th scope="row">@item.CatId</th>
                    <td>
                        <a href="/@item.Alias">@item.CatName</a>
                    </td>
                    <td>
                        @if (item.Published == true)
                        {
                            <span class="badge badge-primary">Public</span>
                        }
                        else
                        {
                            <span class="badge badge-primary">Non-Public</span>

                        }
                    </td>
                   
                    <td>
                        <a asp-area="Admin" asp-controller="Categories" asp-action="Details" asp-route-id="@item.CatId" class="btn btn-success">View</a>
                        <a asp-area="Admin" asp-controller="Categories" asp-action="Edit" asp-route-id="@item.CatId" class="btn btn-primary">Edit</a>
                        <a asp-area="Admin" asp-controller="Categories" asp-action="Delete" asp-route-id="@item.CatId" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                    }
                }

            </tbody>
        </table>
        <div aria-label="Page navigation">
            <ul class="pagination">
                <pager class="pager-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" list="@Model" asp-area="Admin" asp-controller="Categories" asp-action="Index"/>
            </ul>
        </div>
    </div><!-- table-responsive -->
</div><!-- section-wrapper -->


      
