@model PagedList.Core.IPagedList<PRN_ProjectBlogs.Models.Account>
@using PagedList.Core.Mvc
@{
    ViewData["Title"] = "QUẢN LÝ TÀI KHOẢN";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>QUẢN LÝ TÀI KHOẢN</h1>


<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Accounts" asp-action="Index">QUẢN LÝ TÀI KHOẢN</a></li>
        <li class="breadcrumb-item active" asp-area="Admin" asp-controller="Accounts" asp-action="Create" aria-current="page">QUẢN LÝ TÀI KHOẢN</li>
    </ol>
    <h6 class="slim-pagetitle">QUẢN LÝ TÀI KHOẢN</h6>
</div><!-- slim-pageheader -->
<a asp-area="Admin" asp-controller="Accounts" asp-action="Create">TẠO MỚI</a>
<div class="section-wrapper">


    <div class="table-responsive">
        <table class="table mg-b-0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>HỌ VÀ TÊN</th>

                    <th>TRẠNG THÁI</th>
                    <th>Quyền TRUY CẬP</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {

                        <tr>
                            <th scope="row">@item.AccountId</th>
                            <td>
                                <p> Họ và tên : @item.FullName</p>
                                <p> Email : @item.Email</p>
                                <p> Điện thoại : @item.Phone</p>
                                <p> Đăng nhập lần cuối : @item.LastLogin</p>
                            </td>
                            <td>
                                @if (item.Active == true)
                                {
                                    <span class="badge badge-primary">Active</span>
                                }
                                else
                                {
                                    <span class="badge badge-primary">Banned</span>

                                }
                            </td>
                            <td> @item.Role.RoleDescription</td>
                            <td>
                                <a asp-area="Admin" asp-controller="Accounts" asp-action="Details" asp-route-id="@item.AccountId" class="btn btn-success">View</a>
                                <a asp-area="Admin" asp-controller="Accounts" asp-action="Edit" asp-route-id="@item.AccountId" class="btn btn-primary">Edit</a>
                                <a asp-area="Admin" asp-controller="Accounts" asp-action="Delete" asp-route-id="@item.AccountId" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
        <div aria-label="Page navigation">
            <ul class="pagination">
                <pager class="pager-container" options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly" list="@Model" asp-area="Admin" asp-controller="Accounts" asp-action="Index" />
            </ul>
        </div>
    </div><!-- table-responsive -->
</div><!-- section-wrapper -->
